version: 2
updates:
- package-ecosystem: "nuget"
  directory: "/"
  schedule:
    interval: "weekly"
    day: "sunday"
    time: "15:00"
- package-ecosystem: "docker"
  directory: "/"
  schedule:
    interval: "weekly"
    day: "sunday"
    time: "15:00"