version: 2
updates:
- package-ecosystem: "nuget"
  directory: "/"
  schedule:
    interval: "weekly"
    day: "friday"
    time: "19:00"
- package-ecosystem: "docker"
  directory: "/"
  schedule:
    interval: "weekly"
    day: "friday"
    time: "19:00"